:root {
  --color-primary: #003245;
  --color-teal-400: #008ca4;
  --color-teal-200: #5eb4c3;
  --color-teal-100: #a4d6df;
  --color-secondary: #2aafc8;

  --color-main-grey: #f2f2f2;
  --color-secondary-grey: #cad4d8;
  --color-ternary-grey: #c0bfc7;
}

main {
  background-color: #f2f2f2;
  width: 100vw;
  height: 100vh;
}

//// TOP TOOLTIP ////
.tooltip-top {
  position: relative;
  &::before {
    content: attr(data-tooltip);
    display: block;
    position: absolute;
    width: max-content;
    color: white;
    padding: 0.5em 0.8em;
    text-align: center;
    font-size: 14px;
    border-radius: 0.25rem;
    background-color: var(--color-secondary);

    opacity: 0;
    transition: all 0.1s ease-in-out 0.1s;
    z-index: 1;

    bottom: calc(100% + 5px);
    left: 50%;
    right: initial;
    transform: translate(-50%, 20px);
  }

  &:hover {
    &::before {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }

  &:focus {
    &::before {
      opacity: 1;
      transform: translate(-50%, 0);
    }
  }
}
