# Project exclude paths
/.gradle/
/client/build/
/enclave/build/
/common/build/
/host/build/
/enclave/build/classes/java/main/
/host/build/bootRunMainClassName
/common/build/kotlin/compileKotlin/build-history.bin
/host/build/kotlin/compileKotlin/build-history.bin
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.keystream.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab.values.at
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/class-fq-name-to-source.tab_i.len
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/ClientRequest$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/ClientRequest.class
/common/build/classes/kotlin/main/META-INF/common.kotlin_module
/common/build/kotlin/common10SNAPSHOTjar-classes.txt
/common/build/libs/common-1.0-SNAPSHOT.jar
/.idea/compiler.xml
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Computation$$serializer.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Computation$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Computation$ComputationType.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Computation.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/ComputationResult$$serializer.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/ComputationResult$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/ComputationResult.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Computations$$serializer.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Computations$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Computations.class
/container-id
/common/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
/host/build/kotlin/compileKotlin/caches-jvm/lookups/counters.tab
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/EnclaveMessageResponse$$serializer.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/EnclaveMessageResponse$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/EnclaveMessageResponse.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/EnclaveResponse$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/EnclaveResponse.class
/.idea/encodings.xml
/host/build/classes/kotlin/main/me/gendal/conclave/eventmanager/host/EventManagerHost$deliverMail$1.class
/host/build/classes/kotlin/main/me/gendal/conclave/eventmanager/host/EventManagerHost$init$1$1$inbox$1.class
/host/build/classes/kotlin/main/me/gendal/conclave/eventmanager/host/EventManagerHost$init$1.class
/host/build/classes/kotlin/main/me/gendal/conclave/eventmanager/host/EventManagerHost$shutdown$1.class
/host/build/classes/kotlin/main/me/gendal/conclave/eventmanager/host/EventManagerHost.class
/host/build/classes/kotlin/main/me/gendal/conclave/eventmanager/host/EventManagerMain$Companion.class
/host/build/classes/kotlin/main/me/gendal/conclave/eventmanager/host/EventManagerMain.class
/common/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
/host/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab
/common/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/host/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream
/common/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/host/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.keystream.len
/common/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
/host/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.len
/common/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/host/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab.values.at
/common/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
/host/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i
/common/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/host/build/kotlin/compileKotlin/caches-jvm/lookups/file-to-id.tab_i.len
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/GetComputationResult$$serializer.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/GetComputationResult$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/GetComputationResult.class
/.idea/gradle.xml
/gradle/wrapper/gradle-wrapper.jar
/gradle/wrapper/gradle-wrapper.properties
/host/build/classes/kotlin/main/META-INF/host.kotlin_module
/common/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
/host/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab
/common/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/host/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream
/common/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/host/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.keystream.len
/common/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
/host/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.len
/common/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/host/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab.values.at
/common/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
/host/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i
/common/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/host/build/kotlin/compileKotlin/caches-jvm/lookups/id-to-file.tab_i.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.keystream.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab.values.at
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/internal-name-to-source.tab_i.len
/.idea/jarRepositories.xml
/.idea/kotlinc.xml
/common/build/kotlin/compileKotlin/last-build.bin
/host/build/kotlin/compileKotlin/last-build.bin
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/ListComputations$$serializer.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/ListComputations$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/ListComputations.class
/common/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
/host/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab
/common/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
/host/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream
/common/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/host/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.keystream.len
/common/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
/host/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.len
/common/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
/host/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab.values.at
/common/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
/host/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i
/common/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
/host/build/kotlin/compileKotlin/caches-jvm/lookups/lookups.tab_i.len
/common/build/tmp/jar/MANIFEST.MF
/.idea/misc.xml
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.keystream.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.at
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab.values.s
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/proto.tab_i.len
/RICHARD
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/SetupComputation$$serializer.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/SetupComputation$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/SetupComputation.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/SignedData$$serializer.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/SignedData$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/SignedData.class
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.keystream.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab.values.at
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/host/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/source-to-classes.tab_i.len
/common/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
/host/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab
/common/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/host/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream
/common/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/host/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.keystream.len
/common/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
/host/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.len
/common/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/host/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.at
/common/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
/host/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i
/common/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/host/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab_i.len
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Submission$$serializer.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Submission$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Submission.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/SubmitValue$$serializer.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/SubmitValue$Companion.class
/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/SubmitValue.class
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.keystream.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab.values.at
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/subtypes.tab_i.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.keystream.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.len
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab.values.at
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i
/common/build/kotlin/compileKotlin/caches-jvm/jvm/kotlin/supertypes.tab_i.len
/.idea/uiDesigner.xml
/.idea/vcs.xml

/common/build/classes/kotlin/main/me/gendal/conclave/eventmanager/common/Curve25519PublicKeySerializer.class
/common/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values
/common/build/kotlin/compileKotlin/caches-jvm/inputs/source-to-output.tab.values.s
/client/ALICE
/client/ALICE.conclave
/client/BOB
/client/BOB.conclave
/client/CHARLEY
/client/CHARLEY.conclave
/client/DENISE
/client/DENISE.conclave
